
.navbarContainer {
    background-color: rgb(255, 255, 174);
}

.texto-personalizado {
    color: black;
    font-weight: bold;
    list-style: none;
  }

.link-carrito {
    text-decoration: none;
}